<head>
<script type="text/javascript">
function storeValues()
{
  sessionStorage.setItem("Gender",document.getElementsByName("gender")[0].value);
  sessionStorage.setItem("Age",document.getElementsByName("Age")[0].value);
  sessionStorage.setItem("Class",document.getElementsByName("Class")[0].value)

}

</script>
</head>
<body>
<form action="/task/">
    Gender: <br>
    <input type="radio" name="gender" value="male"> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other <br>
    Age:<br>
  <input type="text" name="Age"><br>
  Class:<br>
  <input type="text" name="Class"><br>
  <input type="submit" value="Submit" onclick="storeValues();">
  </form>
</body>
 
