<head>
<script type="text/javascript">
function storeValues()
{
  var gen = document.getElementsByName("gender");
    for(var i=0; i<gen.length;i++)
    {
        if(gen[i].checked)
        {
            sessionStorage.setItem("Gender",gen[i].value);        
        }
    }
 // sessionStorage.setItem("Gender",document.getElementsByName("gender")[0].value);
  sessionStorage.setItem("Age",document.getElementsByName("Age")[0].value);
  sessionStorage.setItem("Class",document.getElementsByName("Class")[0].value)
  sessionStorage.setItem("subjects",document.getElementsByName("subjects")[0].value)
  sessionStorage.setItem("fav",document.getElementsByName("fav")[0].value)

}

</script>
</head>
<body>
<form action="/task/">
    Gender: <br>
    <input type="radio" name="gender" value="male"> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other <br>
    Age:<br>
  <input type="text" name="Age"><br>
  Class:<br>
  <input type="text" name="Class"><br>
  Subjects you study:<br>
  <input type="text" name="subjects"><br>
  And your favorite :<br>
  <input type="text" name="fav"><br>

  <input type="submit" value="Submit" onclick="storeValues();"><br>

  </form>
</body>
 
