<html>
<head>
    <style>
        p {
          text-align: center;
          font-size: 60px;
          margin-top: 0px;
        }
        </style>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sudoku_solver/style.css' %}">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>
    // Set the date we're counting down to
    // Update the count down every 1 second
    //var timer = sessionStorage.getItem("Time");
    
    //var countDownDate = new Date().getTime()+7200500;
    
    var timeStart = new Date();
    
    var distance = sessionStorage.getItem("Time"); 
    //document.write(distance)
    if (distance == null){
        var distance = 7200500;
    }
    var x = setInterval(function() {
        var now = 1000;    
        // Get today's date and time
       
        distance = distance - now;
        sessionStorage.setItem("Time",distance); 
        //document.write(distance)   
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = hours + "h "
        + minutes + "m " + seconds + "s ";
           
        // If the count down is over, write some text 
        if (distance < 0) {
            clearInterval(x);
            sendSolution();
            document.getElementById("demo").innerHTML = "EXPIRED";
            document.getElementById("but").hidden = true;
            document.write("Submitted and Time Over")
        }
    }, 1000);
    
    function GetCellValues() {
        var table = document.getElementById('grid');
        for (var r = 0, n = table.rows.length; r < n; r++) {
            for (var c = 0, m = table.rows[r].cells.length; c < m; c++) {
                if (table.rows[r].cells[c].childNodes[0].value=="0")
                {
                    table.rows[r].cells[c].childNodes[0].value ="";
                }
                else
                {
                    table.rows[r].cells[c].childNodes[0].readOnly = true;
                }                
            }   
        }
    }

    function sendSolution()
    {
        var solution = new Array(9);
        for(var i = 0;i < 9;i++)
        {
            solution[i] = new Array(9);
        }
        var table = document.getElementById('grid');
        for (var r = 0, n = table.rows.length; r < n; r++) {
            for (var c = 0, m = table.rows[r].cells.length; c < m; c++) {
                solution[r][c] = table.rows[r].cells[c].childNodes[0].value;
        
        
            }
        }
        var resu = checker(solution);
        var timeEnd = new Date();
        var timeDiff = timeEnd - timeStart;
        //var url_string = window.location.href
        //var url = new URL(url_string);
        var age = sessionStorage.getItem("Age");
        var gender = sessionStorage.getItem("Gender");
        var lass = sessionStorage.getItem("Class");
        var task1_selection = sessionStorage.getItem("Task1");
        var task2_selection = sessionStorage.getItem("Task2");
        var task2_colour = sessionStorage.getItem("Task2Colour");
        var subjects = sessionStorage.getItem("subjects");
        var fav = sessionStorage.getItem("fav");
        var hobb = sessionStorage.getItem("hobb");

        var ID = sessionStorage.getItem("ID");
        var age2 = sessionStorage.getItem("Age2");
        var gender2 = sessionStorage.getItem("Gender2");
        var lass2 = sessionStorage.getItem("Class2");
        var subjects2 = sessionStorage.getItem("subjects2");
        var fav2 = sessionStorage.getItem("fav2");
        var hobb2 = sessionStorage.getItem("hobb2");
        //document.write("Submitted");
        $.post( "{% url 'end-game' %}",
        {
            csrfmiddlewaretoken: '{{ csrf_token}}' ,
            //solution : solution, //pass the score here
            resu: resu,
            age :age,
            hobb:hobb,
            gender:gender,
            lass:lass,
            hours: Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60))+'m '+Math.floor((timeDiff % (1000 * 60)) / 1000)+'s',
            task1_selection:task1_selection,
            task2_selection:task2_selection,
            task2_colour:task2_colour,
            fav:fav,
            subjects:subjects,
            task_selected:"Sudoku",
            ID:ID,
            age2 :age2,
            gender2:gender2,
            lass2:lass2,
            fav2:fav2,
            hobb2:hobb2,
            subjects2:subjects2
             // pass the win value here
        },
        function(data) {
            if(data.status == 1){
                // success! Do something
            }
            else{
                // error! Do something
            }
        });
    
        window.location.reload(); 
        alert(resu)
    }
    
    function qut()
    {
        var solution = new Array(9);
        for(var i = 0;i < 9;i++)
        {
            solution[i] = new Array(9);
        }
        var table = document.getElementById('grid');
        for (var r = 0, n = table.rows.length; r < n; r++) {
            for (var c = 0, m = table.rows[r].cells.length; c < m; c++) {
                solution[r][c] = table.rows[r].cells[c].childNodes[0].value;
        
        
            }
        }
        var resu = checker(solution);
        var timeEnd = new Date();
        var timeDiff = timeEnd - timeStart;
        //var url_string = window.location.href
        //var url = new URL(url_string);
        var age = sessionStorage.getItem("Age");
        var gender = sessionStorage.getItem("Gender");
        var lass = sessionStorage.getItem("Class");
        var task1_selection = sessionStorage.getItem("Task1");
        var task2_selection = sessionStorage.getItem("Task2");
        var task2_colour = sessionStorage.getItem("Task2Colour");
        var subjects = sessionStorage.getItem("subjects");
        var fav = sessionStorage.getItem("fav");

        var ID = sessionStorage.getItem("ID");
        var age2 = sessionStorage.getItem("Age2");
        var gender2 = sessionStorage.getItem("Gender2");
        var lass2 = sessionStorage.getItem("Class2");
        var subjects2 = sessionStorage.getItem("subjects2");
        var fav2 = sessionStorage.getItem("fav2");
        //document.write("Submitted");
        $.post( "{% url 'end-game' %}",
        {
            csrfmiddlewaretoken: '{{ csrf_token}}' ,
            //solution : solution, //pass the score here
            resu: resu,
            age :age,
            gender:gender,
            lass:lass,
            hours: Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60))+'m '+Math.floor((timeDiff % (1000 * 60)) / 1000)+'s',
            task1_selection:task1_selection,
            task2_selection:task2_selection,
            task2_colour:task2_colour,
            fav:fav,
            subjects:subjects,
            task_selected:"Sudoku",
            ID:ID,
            age2 :age2,
            gender2:gender2,
            lass2:lass2,
            fav2:fav2,
            subjects2:subjects2
             // pass the win value here
        },
        function(data) {
            if(data.status == 1){
                // success! Do something
            }
            else{
                // error! Do something
            }
        });
        document.write("Thank you");     
    }
      


    function checker(solution){
        for (var y = 0; y < 9; ++y) {
            for (var x = 0; x < 9; ++x) {
                var value = solution[y][x];
                //if (value != 1 || value != 3 || value != 3 || value != 4 || value != 5 || value != 6 || value != 7 || value != 8 || value != 9){ return "Fill the grid with numbers"}
                if (value) {
                    // Check the line
                    for (var x2 = 0; x2 < 9; ++x2) {
                        if (x2 != x && solution[y][x2] == value) {
                            return false;
                        } 
                    }

                    // Check the column
                    for (var y2 = 0; y2 < 9; ++y2) {
                        if (y2 != y && solution[y2][x] == value) {
                            return false;
                        } 
                    }

                    // Check the square
                    var startY = Math.floor(y/3)*3;
                    for (var y2 = startY; y2 < startY + 3; ++y2) {
                        var startX = Math.floor(x/3)*3;
                        for (x2 = startX; x2 < startX + 3; ++x2) {
                            if ((x2 != x || y2 != y) && solution[y2][x2] == value) {
                                return false;
                            }
                        }
                    }
                }
                else{
                    return false;
                }
            }
        }

        return true;
    }

</script>
</head>
<body onload="GetCellValues();">
<p id="demo"></p>
<table id="grid" border="1" style="border-collapse: collapse;">
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell1}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell2}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell3}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell4}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell5}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell6}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell7}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell8}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell9}}"></td>

        <!--row--></tr>
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell10}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell11}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell12}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell13}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell14}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell15}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell16}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell17}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell18}}"></td>


        <!--row--></tr>
    
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell19}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell20}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell21}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell22}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell23}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell24}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell25}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell26}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell27}}"></td>

        <!--row--></tr>
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell28}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell29}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell30}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell31}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell32}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell33}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell34}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell35}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell36}}"></td>

        <!--row--></tr>
    
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell37}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell38}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell39}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell40}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell41}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell42}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell43}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell44}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell45}}"></td>

        <!--row--></tr>
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell46}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell47}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell48}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell49}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell50}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell51}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell52}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell53}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell54}}"></td>

        <!--row--></tr>
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell55}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell56}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell57}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell58}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell59}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell60}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell61}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell62}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell63}}"></td>

        <!--row--></tr>
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell64}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell65}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell66}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell67}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell68}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell69}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell70}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell71}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell72}}"></td>

        <!--row--></tr>
    
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell73}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell74}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell75}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell76}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell77}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell78}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell79}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell80}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell81}}"></td>
    <!--row--></tr>
</table>

<button id="but" type="button" onclick="sendSolution();">Submit</button>
<button id="qui" type="button" onclick="qut();">Quit</button>
</body>
</html>