<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sudoku_solver/style.css' %}">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>
    function GetCellValues() {
        var table = document.getElementById('grid');
        for (var r = 0, n = table.rows.length; r < n; r++) {
            for (var c = 0, m = table.rows[r].cells.length; c < m; c++) {
                if (table.rows[r].cells[c].childNodes[0].value=="0")
                {
                    table.rows[r].cells[c].childNodes[0].value ="";
                }
                else
                {
                    table.rows[r].cells[c].childNodes[0].readOnly = true;
                }                
            }   
        }
    }

    function sendSolution()
    {
        var solution = new Array(9);
        for(var i = 0;i < 9;i++)
        {
            solution[i] = new Array(9);
        }
        var table = document.getElementById('grid');
        for (var r = 0, n = table.rows.length; r < n; r++) {
            for (var c = 0, m = table.rows[r].cells.length; c < m; c++) {
                solution[r][c] = table.rows[r].cells[c].childNodes[0].value;
        
        
            }
        }
        var resu = checker(solution);
        
        $.post( "{% url 'end-game' %}",
        {
            csrfmiddlewaretoken: '{{ csrf_token}}' ,
            //solution : solution, //pass the score here
            resu: resu // pass the win value here
        },
        function(data) {
            if(data.status == 1){
                // success! Do something
            }
            else{
                // error! Do something
            }
        });
         
        alert(resu)
    }    
    function checker(solution){
        for (var y = 0; y < 9; ++y) {
            for (var x = 0; x < 9; ++x) {
                var value = solution[y][x];
                //if (value != 1 || value != 3 || value != 3 || value != 4 || value != 5 || value != 6 || value != 7 || value != 8 || value != 9){ return "Fill the grid with numbers"}
                if (value) {
                    // Check the line
                    for (var x2 = 0; x2 < 9; ++x2) {
                        if (x2 != x && solution[y][x2] == value) {
                            return false;
                        } 
                    }

                    // Check the column
                    for (var y2 = 0; y2 < 9; ++y2) {
                        if (y2 != y && solution[y2][x] == value) {
                            return false;
                        } 
                    }

                    // Check the square
                    var startY = Math.floor(y/3)*3;
                    for (var y2 = startY; y2 < startY + 3; ++y2) {
                        var startX = Math.floor(x/3)*3;
                        for (x2 = startX; x2 < startX + 3; ++x2) {
                            if ((x2 != x || y2 != y) && solution[y2][x2] == value) {
                                return false;
                            }
                        }
                    }
                }
            }
        }

        return true;
    }

</script>
</head>
<body onload="GetCellValues();">
<table id="grid" border="1" style="border-collapse: collapse;">
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell1}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell2}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell3}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell4}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell5}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell6}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell7}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell8}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell9}}"></td>

        <!--row--></tr>
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell10}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell11}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell12}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell13}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell14}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell15}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell16}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell17}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell18}}"></td>


        <!--row--></tr>
    
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell19}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell20}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell21}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell22}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell23}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell24}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell25}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell26}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell27}}"></td>

        <!--row--></tr>
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell28}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell29}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell30}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell31}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell32}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell33}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell34}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell35}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell36}}"></td>

        <!--row--></tr>
    
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell37}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell38}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell39}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell40}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell41}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell41}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell43}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell44}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell45}}"></td>

        <!--row--></tr>
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell46}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell47}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell48}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell49}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell50}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell51}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell52}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell53}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell54}}"></td>

        <!--row--></tr>
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell55}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell56}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell57}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell58}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell59}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell60}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell61}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell62}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell63}}"></td>

        <!--row--></tr>
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell64}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell65}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell66}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell67}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell68}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell69}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell70}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell71}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell72}}"></td>

        <!--row--></tr>
    
    <tr class="row">
        <td class="cell"><input type="text" maxlength="1" value="{{cell73}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell74}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell75}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell76}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell77}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell78}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell79}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell80}}"></td>
        <td class="cell"><input type="text" maxlength="1" value="{{cell81}}"></td>
    <!--row--></tr>
</table>

<button id="but" type="button" onclick="sendSolution();">Submit</button>
</body>
</html>