<html>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sudoku_solver/task_style.css' %}">
    <style type="text/css">
        
        /* Typography */
        h1,
        h2,
        h3,
        h4 {
          text-align: center;
          color: #575e75;
          font-weight: bold; 
          font-family: "Lucida Console", Monaco, monospace}
        h1{font-size: 42px} h2{font-size:36px} h3{font-size:30px}
            </style>
    <body style="background-image: url('/static/sudoku_solver/numb.jpg'); background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;">
        <form action="/task/">
            <div class="centered">
    <h1><centre>GAMES!</centre></h1>
    <h2><centre> It is very simple. You just have to select one option in each decision games.</centre>
    </h2>
        <input type="submit" value="Next" id="but" />
    </form></div>
</body>
</html>