<html>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sudoku_solver/task_style.css' %}">
    <style type="text/css">
        
        /* Typography */
        h1,
        h2,
        h3,
        h4 {
          text-align: center;
          color: #ffffff;
          font-weight: bold; 
          font-family: "Lucida Console", Monaco, monospace}

          h1{font-size: 32px} h2{font-size:28px} h3{font-size:22px}
        </style>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script>
    function pushValues(){
        //storeValues();
        var age = sessionStorage.getItem("Age");
        var hobb = sessionStorage.getItem("hobb");
        var hobb2 = sessionStorage.getItem("hobb2");
        var gender = sessionStorage.getItem("Gender");
        var lass = sessionStorage.getItem("Class");
        var task1_selection = sessionStorage.getItem("Task1");
        var task2_selection = sessionStorage.getItem("Task2");
        var task2_colour = sessionStorage.getItem("Task2Colour");
        var subjects = sessionStorage.getItem("subjects");
        var fav = sessionStorage.getItem("fav");
        var ID = sessionStorage.getItem("ID");
        var ID2 = sessionStorage.getItem("ID2");
        /*
        var age2 = sessionStorage.getItem("Age2");
        var gender2 = sessionStorage.getItem("Gender2");
        var lass2 = sessionStorage.getItem("Class2");
        var subjects2 = sessionStorage.getItem("subjects2");
        var fav2 = sessionStorage.getItem("fav2");*/

        document.getElementById('hid').value=ID;
        document.getElementById('hid2').value=ID2;
        document.getElementById('hage').value=age;
        document.getElementById('hhobb').value=hobb;
        document.getElementById('hgender').value=gender;
        document.getElementById('hlass').value=lass;
        document.getElementById('hsubjects').value=subjects;
        document.getElementById('hfav').value=fav;
        document.getElementById('htask1').value=task1_selection;
        document.getElementById('htask2').value=task2_selection;
        document.getElementById('hcolor').value=task2_colour;
        /*
        Not required now since separate systems

        document.getElementById('hhobb2').value=hobb2;
        document.getElementById('hage2').value=age2;
        document.getElementById('hgender2').value=gender2;
        document.getElementById('hlass2').value=lass2;
        document.getElementById('hsubjects2').value=subjects2;
        document.getElementById('hfav2').value=fav2;
        */
        //document.write("Submitted");
        $.post( "{% url 'end-game' %}",
        {
            csrfmiddlewaretoken: '{{ csrf_token}}' ,
            //solution : solution, //pass the score here
            age :age,
            hobb:hobb,
            gender:gender,
            lass:lass,
            task1_selection:task1_selection,
            task2_selection:task2_selection,
            task2_colour:task2_colour,
            fav:fav,
            subjects:subjects,
            ID:ID,
            ID2:ID2,
            task_selected:"App",
            /*
                    Not required now since separate systems
            age2 :age2,
            gender2:gender2,
            hobb2:hobb2,
            lass2:lass2,
            fav2:fav2,
            subjects2:subjects2
            */
             // pass the win value here
        },
        function(data) {
            if(data.status == 1){
                // success! Do something
            }
            else{
                // error! Do something
            }
        });
        //window.location.href="http://creator-innovation.appspot.com/login";
    }

    function pushValues2(){
        //storeValues();
        var age = sessionStorage.getItem("Age");
        var hobb = sessionStorage.getItem("hobb");
        var hobb2 = sessionStorage.getItem("hobb2");
        var gender = sessionStorage.getItem("Gender");
        var lass = sessionStorage.getItem("Class");
        var task1_selection = sessionStorage.getItem("Task1");
        var task2_selection = sessionStorage.getItem("Task2");
        var task2_colour = sessionStorage.getItem("Task2Colour");
        var subjects = sessionStorage.getItem("subjects");
        var fav = sessionStorage.getItem("fav");
        var ID = sessionStorage.getItem("ID");
        var ID2 = sessionStorage.getItem("ID2");
        /*
        var age2 = sessionStorage.getItem("Age2");
        var gender2 = sessionStorage.getItem("Gender2");
        var lass2 = sessionStorage.getItem("Class2");
        var subjects2 = sessionStorage.getItem("subjects2");
        var fav2 = sessionStorage.getItem("fav2");*/

        document.getElementById('hid').value=ID;
        document.getElementById('hid2').value=ID2;
        document.getElementById('hage').value=age;
        document.getElementById('hhobb').value=hobb;
        document.getElementById('hgender').value=gender;
        document.getElementById('hlass').value=lass;
        document.getElementById('hsubjects').value=subjects;
        document.getElementById('hfav').value=fav;
        document.getElementById('htask1').value=task1_selection;
        document.getElementById('htask2').value=task2_selection;
        document.getElementById('hcolor').value=task2_colour;
        /*
        Not required now since separate systems

        document.getElementById('hhobb2').value=hobb2;
        document.getElementById('hage2').value=age2;
        document.getElementById('hgender2').value=gender2;
        document.getElementById('hlass2').value=lass2;
        document.getElementById('hsubjects2').value=subjects2;
        document.getElementById('hfav2').value=fav2;
        */
        //document.write("Submitted");
        $.post( "{% url 'end-game' %}",
        {
            csrfmiddlewaretoken: '{{ csrf_token}}' ,
            //solution : solution, //pass the score here
            age :age,
            hobb:hobb,
            gender:gender,
            lass:lass,
            task1_selection:task1_selection,
            task2_selection:task2_selection,
            task2_colour:task2_colour,
            fav:fav,
            subjects:subjects,
            ID:ID,
            ID2:ID2,
            task_selected:"Move",
            /*
                    Not required now since separate systems
            age2 :age2,
            gender2:gender2,
            hobb2:hobb2,
            lass2:lass2,
            fav2:fav2,
            subjects2:subjects2
            */
             // pass the win value here
        },
        function(data) {
            if(data.status == 1){
                // success! Do something
            }
            else{
                // error! Do something
            }
        });
        document.write("Thank you");
    }
</script>
    <body style="background-image: url('/static/sudoku_solver/games.jpg'); background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;">
    <form action="https://appcreator-dot-gender-innovation.appspot.com/login/">
        <input type="hidden" id="hid" name="ID" required/>
        <input type="hidden" id="hid2" name="ID2" required/>
        <input type="hidden" id="hage" name="Age" required/>
        <!--input type="hidden" id="hage2" name="Age2" required/-->
        <input type="hidden" id="hlass" name="Class" required/>
        <!--input type="hidden" id="hlass2" name="Class2" required/-->
        <input type="hidden" id="hgender" name="Gender" required/>
        <!--input type="hidden" id="hgender2" name="Gender2" required/-->
        <input type="hidden" id="hsubjects" name="subjects" required/>
        <!--input type="hidden" id="hsubjects2" name="subjects2" required/-->
        <input type="hidden" id="hfav" name="fav" required/>
        <!--input type="hidden" id="hfav2" name="fav2" required/-->
        <input type="hidden" id="hhobb" name="hobby" required/>
        <!--input type="hidden" id="hhobb2" name="hobby2" required/-->
        <input type="hidden" id="htask1" name="task1_selection" required/>
        <input type="hidden" id="htask2" name="task2_selection" required/>
        <input type="hidden" id="hcolor" name="task2_colour" required/>
    <h1>MORE GAMES!</h1>
    <h2><centre> Choose a game Sudoku or Create an App</centre></h2>
    <h2><centre> Create an App</centre> </h2>
    <h3>Create Stories, games and animation!</h3>
    <h3> With App Creator, you can program your own interactive stories, games, and animations — and share your creations with others in the online community.
    App Creator helps young people learn to think creatively, reason systematically, and work collaboratively — essential skills for life in the 21st century. </h3>
    <input type="submit" value="Create App" id="but" onclick="pushValues();" />
    <!--input type="submit" value="Move" id="qu" onclick="pushValues2();"  /-->
    </form>
    <h2> Sudoku </h3>
    <h3> Logic and math challenge!</h3>
    <h3>Sudoku is played on a grid of 9 x 9 spaces. Within the rows and columns are 9 “squares” (made up of 3 x 3 spaces).
        Each row, column and square (9 spaces each) needs to be filled out with the numbers 1-9, without repeating any numbers within the row, column or square. 
        Each Sudoku grid comes with a few spaces already filled in</h3>
        <form action="/sudoku_solver/">
            <input type="submit" value="Sudoku" id="but" />
        </form>

</body>
</html>